<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Angular-phonenumber-formatter by lposen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Angular-phonenumber-formatter</h1>
      <h2 class="project-tagline">Formats a international and (American) national phone numbers using angular and Googles i18n library</h2>
      <a href="https://github.com/lposen/angular-phonenumber-formatter" class="btn">View on GitHub</a>
      <a href="https://github.com/lposen/angular-phonenumber-formatter/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/lposen/angular-phonenumber-formatter/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <p>This library formats American national numbers and international numbers using Angular, <a href="https://github.com/googlei18n/libphonenumber">Googles i18n Phone Number Formatter</a>.</p>

<p><a href="http://lposen.github.io/angular-phonenumber-formatter/app/phoneNumberFormatter/#/">See Demo</a></p>

<p>NOTE: This was made for a specific project, so is not very configurable.</p>

<h2>
<a id="requirements" class="anchor" href="#requirements" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Requirements</h2>

<ul>
<li>AngularJS</li>
<li>Lodash</li>
</ul>

<h2>
<a id="assumptions" class="anchor" href="#assumptions" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Assumptions</h2>

<ul>
<li>National numbers are American numbers.  They will be decorated as (###) ###-####.</li>
<li>X's are not stripped from national numbers as they could be the precursor for extensions.  Other letters are.</li>
<li>X's are stripped from international extensions (a company decision)</li>
<li>If a national number has more than 10 digits, it will format the first 10 digits and append the rest, seperated by a space.</li>
<li>Eg: 1234567890x123 becomes (123) 456-7890 x123</li>
<li>International numbers will begin with a "+" to differentiate them from national numbers</li>
</ul>

<h2>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h2>

<h3>
<a id="setup" class="anchor" href="#setup" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Setup</h3>

<p>Add the module as a dependency</p>

<pre><code>angular.module( "app", [
   "phoneNumberFormatter"
] );
</code></pre>

<h3>
<a id="input" class="anchor" href="#input" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Input</h3>

<p>Add "phone-number" as an attribute and the value as ng-model</p>

<pre><code>&lt;input type="text" ng-model="myPhoneNumber" phone-number&gt;&lt;/input&gt;
</code></pre>

<h3>
<a id="element" class="anchor" href="#element" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Element</h3>

<p>Use "phone-number" as an attribute or element. Add the value as ng-model.
If you're using it as an attribute, be aware that it creates an isolate scope, so you cannot use another attribute that creates an isolate scope on the same element</p>

<pre><code>&lt;phone-number ng-model="myPhoneNumber"&gt;&lt;/phone-number&gt;
</code></pre>

<p>or</p>

<pre><code>&lt;p phone-number ng-model="myPhoneNumber"&gt;&lt;/p&gt;
</code></pre>

<h3>
<a id="filter" class="anchor" href="#filter" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Filter</h3>

<pre><code>&lt;p&gt;{{myPhoneNumber|phoneNumber}}&lt;/p&gt;
</code></pre>

<p>or</p>

<pre><code>$scope.myPhoneNumber = $filter('phoneNumber')($scope.myPhoneNumber);
</code></pre>

<h3>
<a id="factory-phonenumberformatter" class="anchor" href="#factory-phonenumberformatter" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Factory (PhoneNumberFormatter)</h3>

<pre><code>var myNum = 1234567890,
    numberFormatter = new PhoneNumberFormatter();

var formattedNumber = numberFormatter.getFormattedNumber(myNum); //(123) 456-7890
var isInternational = numberFormatter.isInternational(myNum); //false
var unformattedNumer = numberFormatter.trim(myNum); //1234567890
</code></pre>

<h2>
<a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Demo</h2>

<ol>
<li>Download app</li>
<li>Run "npm install"</li>
<li>Run "bower install"</li>
<li>Run "grunt serve"</li>
</ol>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/lposen/angular-phonenumber-formatter">Angular-phonenumber-formatter</a> is maintained by <a href="https://github.com/lposen">lposen</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
